body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

span.label {
  background: #e51843; }
  span.label a {
    color: white; }

.navbar {
  background: black;
  border: none;
  margin-bottom: 0; }

.navbar__links {
  margin-right: 10px;
  margin-top: 20px; }
  .in .navbar__links, .collapsing .navbar__links {
    margin-top: 0; }

.navbar-inverse .nav .navbar__link {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase; }
  .navbar-inverse .nav .navbar__link:hover {
    color: black;
    background: white; }

.navbar__toggle {
  margin-top: 25px;
  margin-right: 30px; }

.navbar__logo {
  max-height: 80px; }

.banner {
  text-align: center;
  background: black;
  padding: 130px 0;
  margin-bottom: 50px; }
  .banner h1 {
    background: #e51843;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    color: white;
    padding: 10px 15px; }
  .banner h2 {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold; }

.teaser {
  padding: 75px 0;
  border-bottom: 1px solid #eee; }

.teaser__date {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

.teaser__day {
  color: #e51843;
  font-size: 52px;
  display: block;
  font-weight: bold;
  line-height: 1; }

.teaser__monthyear {
  display: block;
  text-transform: uppercase; }

.teaser__headline {
  margin: 0 0 25px; }

.teaser__headline a {
  color: black;
  text-transform: uppercase;
  font-size: 34px; }

.teaser__summary {
  font-size: 1.75rem; }
