.banner {
  text-align: center;
  background: black;
  padding: 130px 0;
  margin-bottom: 50px;
  h1 {
    background: $color-primary;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    color: white;
    padding: 10px 15px;
  }
  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
  }
}