.post__header {
  min-height: 80rem;
  position: relative;
}

.post__title {
  text-align: center;
  position: absolute;
  top: 35%;
  h1 {
    font-size: 70px;
    text-transform: uppercase;
  }
}

.post__summarywrap {
  margin-bottom: 50px;
}

.post__summarytoggle {
  text-align: left;
  color: black;
  border: 1px solid $color-primary;
  border-bottom: 1px solid white;
  padding: 15px 20px;
  font-size: 35px;
  font-family: $font-headline;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;

  .fa-plus {
    display: none;
  }
  &.collapsed {
    border-bottom-color: $color-primary;
    .fa-plus {
      display: inline;
    }
    .fa-minus {
      display: none;
    }
  }
  &:hover,
  &:focus {
    background: $color-primary;
    color: white;
    text-decoration: none;
  }
}

.post__summary {
  border: 1px solid $color-primary;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  line-height: 1.8em;
  position: relative;
  top: -1px;
  li {
    margin: 0;
    padding: 0;
  }
  ul {
    padding-left: 25px;
  }
}

.post__content {
  font-size: 130%;
  line-height: 1.8em;

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin: 60px 0 10px;
  }

  p {
    margin-bottom: 30px;
  }

  p:first-child {
    font-size: 150%;
    font-weight: 300;
    line-height: 1.5em;
  }

  a {
    color: $color-primary;
    &:hover {
      color: white;
      background: $color-primary;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 700px) {
  .post__header {
    min-height: 40rem;
  }
  .post__title {
    h1 {
      font-size: 40px;
    }
  }
}

