.search-wrapper .search-input {
  padding: 20px;
  background: black;
  color: white;
  border: 1px solid white;
  outline: none;
  font-size: 30px;
  margin-top: 50px;
  text-transform: uppercase;
  font-family: $font-headline;
  font-weight: bold;
  width: 100%;
}