.teasers {
  margin-top: 50px;
}
.teaser {
  padding: 75px 0;
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: none;
  }
}

.teaser__date {
  font-family: $font-headline;
  text-align: center;
  display: block;
  margin-bottom: 25px;
}

.teaser__day {
  color: $color-primary;
  font-size: 52px;
  display: block;
  font-weight: bold;
  line-height: 1;
}

.teaser__monthyear {
  display: block;
  text-transform: uppercase;
}

.teaser__headline {
  margin: 0 0 25px;
}

.teaser__headline a {
  color: black;
  text-transform: uppercase;
  font-size: 34px;
}

.teaser__summary {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.category {
  border-bottom: 1px solid #eee;
  margin: 50px;
  .teaser__summary,
  .label {
    display: none;
  }
}
.category__heading {
  text-align: center;
  h2 {
    text-transform: uppercase;
    display: inline-block;
    background: $color-primary;
    color: white;
    padding: 5px 10px;
    margin: 0 auto;
  }
}