form {
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
}

input[type=text],
input[type=email],
textarea {
  border: 3px solid #e51843;
  margin-bottom: 35px;
}

label.inline {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

button.button {
  margin: 0 auto;
  display: block;
  background: #e51843;
  margin-top: 40px;
}

.summer-blog-description {
  max-width: 1200px;
  margin: 0 auto !important;
}

.summer-post-title h1 {
  max-width: 15em;
  text-align: center;
  margin: 0 auto;
}

.page-form article p {
  text-align: center;
}

.page-form .alert.green p {
  background: #e51843;
  padding: 15px;
  color: white;
  margin-bottom: 20px;
}

.search-wrapper .search-input {
  width: 100%;
  padding: 30px 15px;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 90px;
}

.search-template .summer-site-head-content {
  display: none;
}

.search-template .summer-post-title h1 {
  font-size: 4.375rem;
  font-weight: 800;
  text-transform: uppercase;
}