{% extends 'partials/base.html.twig' %}
{% block body %}
<body class="search-template" itemscope itemtype="http://schema.org/WebPage">
{% endblock %}

{% block content %}
    <div class="summer-post-title bg-check">
        {% if query %}
            {% set count = search_results ? search_results.count : 0 %}
            {% if count == 1 %}
                <h1>{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query)|raw }}</h1>
            {% else %}
                <h1>{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query, count)|raw }}</h1>
            {% endif %}
        {% else %}
            <h1>Search for something, genius</h1>
        {% endif %}
    </div>
    <main class="summer-content" role="main">
        <article class="summer-page-content">
            {% include 'partials/simplesearch_searchbox.html.twig' %}
            <div>{{ content }}</div>
            {% for post in search_results %}
                {% include 'partials/article.html.twig' %}
            {% else %}
                <br /><br /><br /><br /><br /><br /><br /><br />
            {% endfor %}
        </article>
        <div class="cf"></div>
        {% include 'partials/footer.html.twig' %}
    </main>
{% endblock %}

{% block footer %}{% endblock %}